{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Toolkit Centre :: {{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Toolkit Centre</h2>
        </div>
    </div>
</div>
{% endblock %}