{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
Toolkit List :: {{ parent() }}
{% endblock %}

{% block h1 %}
Toolkit List
{% endblock %}

{% block toolbar_options %}
<li>
    <a class="toolbar_btn" href="{{ path('staff_toolkit_new') }}" title="Add New" >
        <span class="process-icon-new" ></span>
        <div>Add New</div>
    </a>
</li>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="records_list table table-striped" id="toolkit_datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Active?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a class="btn" href="{{ path('staff_toolkit_new') }}">
                    Create a new entry
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}