<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
				<hr class="soften" />
                <p class="pull-right">
                    <a href="#">Back to Top</a>
                </p>
                <p>Designed and developed by LWV Printworks Ltd. &copy; copyright 2012</p>
                <p>If you need help or have any issues with this admin control panel, please e-mail the <a href="mailto:web.team@lwvprintworks.com">web team</a>.</p>
            </div>
        </div>
    </div>
</footer>