{% block new_jobs %}
{% if jobs|length %}
<aside>
	<h3>New Jobs</h3>
	<ul id="new-jobs">
		{% for job in jobs %}
			<li class="{{ job.priority }}">
				<a href="{{ path('job', { 'reference_no' : job.reference_no }) }}">
					{{ job.customer_name }} #{{ job.reference_no }}
				</a>
			</li>
		{% endfor %}
	</ul>
</aside>
{% endif %}
{% endblock %}