<div id="staff-sidebar">
    <div id="content">
        <div id="panel">
            <a href="#" id="panel-tab"><i class="side-toggle"></i></a>
            <div class="well sidebar-nav lwv-left-sidebar">
                <ul class="nav nav-list">
                    <li><a href="#"><i class="icon-home"></i> Home</a></li>
                    <li class="nav-header">Toolkits</li>
                    <li><a href="{{ path('staff_toolkit') }}"><i class="icon-list-alt"></i> Toolkit List</a></li>
                    <li><a href="{{ path('staff_toolkit_new') }}"><i class="icon-plus-sign"></i> Add Toolkit </a></li>

                    <li class="nav-header">Customers</li>
                    <li><a href="{{ path('staff_company') }}">Company List</a></li>
                    <li><a href="{{ path('staff_company_new') }}">Add Company</a></li>

                    <li class="nav-header">Designer </li>
                    <li class="active"><a href="#"><i class="icon-list-alt"></i> Job System</a></li>
                    <li><a href="#support"><i class="icon-question-sign"></i> Support</a></li>
                    <li class="nav-header">Misc</li>
                    <li><a href="#contacts"><i class="icon-user"></i> LWV Contacts</a></li>
                    <li><a href="#contacts"><i class="icon-asterisk"></i> Tools</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>