<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="{{ path('staff_home') }}">LWV Staff</a>
        <div class="nav-collapse">
                <nav id="staff-quick-links">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('staff_home') }}">Home</a></li>
                        <li><a href="#">Help</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-time"></i> Quick Menu <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <ul class="nav pull-right">
                    <li class="user-details">
                        <a href="#"><i class="icon-user icon-white">
                        <span class="logged-in"></i> {{app.user.profile.name}}</span>
                        </a>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="hover-icon"><i class="icon-cog"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="hover-icon"><i class="icon-envelope"></i> Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout')}}" class="hover-icon"><i class="icon-off"></i> Sign out</a></li>
                        </ul>
                    </li>
                     <li class="divider-vertical"></li>
                     <li class="user-details">
                        <a href="#messages" class="msg">
                            <span class="wrap">
                                <span class="count">25</span>
                                <span class="msgicon">messages</span>
                            </span>
                        </a>
                     </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->