{% extends 'LWVToolkitBundle:Frontend:frontend.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% include 'LWVToolkitBundle:User\\Form:profile-edit.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}