{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}
	Staff Dashboard :: {{ parent() }}
{% endblock %}

{% block content %}

{% endblock %}

{% block asides %}
<div class="container">
	<div class="row">
		{% render "LWVToolkitBundle:Staff\\Job:latestJobs" with { 'max': 3 } %}
	</div>
</div>
{% endblock %}