<!DOCTYPE HTML>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}LWV Staff{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block styelsheets %}
            {% stylesheets
                'bundles/lwvtoolkit/Staff/css/*' filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <header id="top-bar">
            {% block top_bar %}
            {% include 'LWVToolkitBundle:Staff:top-bar.html.twig' %}
            {% endblock %}
        </header>
        <nav id="staff-sidebar">
            {% block staff_sidebar %}
            {% include 'LWVToolkitBundle:Staff:staff-sidebar.html.twig' %}
            {% endblock %}
        </nav>
        <section id="breadcrumb-search">
            {% block breadcrumb_search %}
            {% include 'LWVToolkitBundle:Staff:breadcrumb-search.html.twig' %}
            {% endblock %}
        </section>


        <section>
            {% if app.session.flash('success') %}
            <div class="container">
                <div class="row">
                    <div class="span12">

                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            {{ app.session.flash('success') }}
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

            {% block content %}
            Main content block
            {% endblock %}
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>Copyright &copy; 2012 LWV Printworks</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts
                '@LWVToolkitBundle/Resources/public/Staff/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>