<!DOCTYPE HTML>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}LWV Staff{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block styelsheets %}
            {% stylesheets
                'bundles/lwvtoolkit/css/bootstrap-2.0.1.css' filter='cssrewrite'
                'bundles/lwvtoolkit/Staff/css/*' filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <header id="top-bar">
            {% block top_bar %}
            {% include 'LWVToolkitBundle:Staff\\Includes:top-bar.html.twig' %}
            {% endblock %}
        </header>
        <nav id="staff-sidebar">
            {% block staff_sidebar %}
            {% include 'LWVToolkitBundle:Staff\\Includes:staff-sidebar.html.twig' %}
            {% endblock %}
        </nav>
        <section id="breadcrumb-search">
            {% block breadcrumb_search %}
            {% include 'LWVToolkitBundle:Staff\\Includes:breadcrumb-search.html.twig' %}
            {% endblock %}
	        <div class="clearfix"></div>
        </section>
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>{% block h1 %}LWV Admin{% endblock %}</h1>
			</div>
		</div>
	</div>
</div>

{% block notices %}
    {% include 'LWVToolkitBundle:Global:notices.html.twig' %}
{% endblock %}

{% block content %}
Main content block
{% endblock %}

{% block footer %}
    {% include 'LWVToolkitBundle:Staff\\Includes:footer.html.twig' %}
{% endblock %}

        {% block javascripts %}
            {% javascripts
                '@LWVToolkitBundle/Resources/public/js/jquery-1.7.1.min.js'
                '@LWVToolkitBundle/Resources/public/js/bootstrap-dropdown.js'
                '@LWVToolkitBundle/Resources/public/Staff/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>