{% extends 'LWVToolkitBundle:Staff:staff.html.twig' %}

{% block title %}Jobs System :: {{ parent() }}{% endblock %}

{% block h1 %}Jobs System{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">

	</div>
</div>
{% endblock %}