<p>
    Hello {{ user.username }}
    <br/>
    If you did not request a password reset, please disregard this email and contact LWV Toolkit Support (support@lwvprintworks.com)
    <br/>
    <a href="http://localhost/app_dev.php/reset/password/{{ token }}">
        Click here to reset your password
    </a>

</p>