<!DOCTYPE HTML>
<html lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}LWV Toolkit{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block styelsheets %}
            {% stylesheets
                '@LWVToolkitBundle/Resources/public/User/css/*'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row background">
                <div class="span4">
                    <h1>LWV Toolkit</h1>
                    <p>Welcome to the LWV Toolkit.</p>
                    <p>Please use the form opposite to reset your password!</p>
                </div>
                <div class="span8 password-reset-form">
                    {% include 'LWVToolkitBundle:User\\Form:password-reset-form.html.twig' %}
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>Copyright &copy; 2012 LWV Printworks</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts
                '@LWVToolkitBundle/Resources/public/User/js/jquery-1.7.1.min.js'
                '@LWVToolkitBundle/Resources/public/User/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
            $(document).ready(function(){
                $(".alert-message").alert()
            });
            </script>

        {% endblock %}
    </body>
</html>