{% block field_row %}
{% spaceless %}
    <div class="control-group {% if errors|length > 0 %} error {% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <span class="help-inline">
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
        {% endfor %}
    </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}