{% extends 'LWVToolkitBundle:Frontend:frontend.html.twig' %}

{% block title %}
    {{ parent() }} :: Dashboard
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
            
            </div>
        </div>
    </div>
</section>
{% endblock %}