<!-- Flash messages -->
{% block flashes %}
 {% if app.session.flashbag.peekAll()|length > 0 %}
<section id="notices">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="well notices">
					{% for type, flashMessages in app.session.flashbag.all() %}
						 {% for flashMessage in flashMessages %}
							<div class="alert fade in">
								<a class="close" data-dismiss="alert" href="#">&times;</a>
								<i class="notice-{{ type }}"></i>  {{ flashMessage }}
							</div>
						{% endfor %}
					{% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
<!-- Flash messages end -->