<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
    {{ title }}
    {% if sorted %}
        {% if direction == 'asc' %}
            <i class="icon-chevron-up"></i>
        {% endif %}
        {% if direction == 'desc' %}
            <i class="icon-chevron-down"></i>
        {% endif %}     
    {% endif %}
</a>
