{% extends 'LWVToolkitBundle:Frontend:frontend.html.twig' %}

{% block title %}
    {{ parent() }} :: Stonegate
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>{{ event.title }} <small>{{ event.start|date("l, jS F, Y") }}</small></h2>
                {{ event.description|raw }}
            </div>
        </div>
    </div>
</section>
{% endblock %}